body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(243, 242, 242);
}

li{
  list-style: none;
}

ul{
  padding: 0;
  margin: 0;
}

html, body, #root, #root > div{
  height: 100%;
}

a{
  color: white;
  text-decoration: none;
}

.formWrapper .pageHeader{
  text-align: center;
}

.create-avatar .stepHeader{
  margin-bottom: 1em;
}

.formWrapper .formRow{
  display: flex;
  justify-content: space-between;
  
}
.formWrapper .formRow > .formElement{
  width: 45%;
}

.formWrapper .formInput{
  padding: .5em  1em;
  width: 100%;
  font-family: Arial;
}

.formWrapper .formLabel{
   margin-bottom: .5em;
}

.formWrapper .wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.formWrapper .registerControl {
    margin-bottom: 1em;
}

.registration-result .gotoprofile{
  margin-top: 2em;
  margin-bottom: 0;
  display: flex;
}

.header-toolbar{
  display: flex;
  justify-content: space-between;
}

.steps-wrapper .card{
  width: 600px;
  padding: 1em;
}

.registration-page, .login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page{
  height: 100%;
}

.login-page .card{
  padding: 2em 4em;
  margin-top: 2em;
}

.login-page .login-button{
  margin-top: 1em;
}

.file-input-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.file-input-wrapper label{

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.file-input-wrapper label .error{
  margin-bottom: 1em;
  color: red;
}

.file-input-wrapper > input[type="file"] {
  
  width: 90px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.file-input-wrapper > .btn-file-input {
  display: inline-block;
  

  border: 2px dashed #1f8da8;
  border-radius: 15px;
  background-color: white;

}

.file-input-wrapper > input[type="file"]:hover + .btn-file-input{
    font-size: 1.1em;
}

.editor-canvas{
  border: 2px dashed rgb(24, 146, 184);
  border-radius: 15px;
  height: 300px;
  width: 300px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar-zoom{
  margin-top: 1em;
}

.registrationFormHeader{
  margin: 0;
  margin-bottom: .6em;
  font-weight: normal;
}

.avatar-buttons{
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.avatar-controll{
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-wrapper-content{
  padding-top: 5em;
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.main-wrapper-content .main-content{
  flex-grow: 1;
}


.main-wrapper-content .main-menu{
  display: block;
}

div.main-menu-paper{
  padding-top: 5em;
  height: 18em;
  box-sizing: border-box;
  padding: 0 1em 0 1em;
  margin-right: 1em;
}


.main-header{
  z-index: 1;
  width: 100%;
  position: fixed;
}


.circle-avatar{
  border-radius: 50%;
  height: 2.7em;
  width: 2.7em;
  overflow: hidden;
}

.circle-avatar img {
  height: 100%;
  width: 100%;
}

.header-toolbar{
  margin: 0 auto;
  width: 960px;
}

.header-menu-wrapper{
  display: flex;
  align-items: center;
}

.header-menu-wrapper .header-name{
  color: white;
  font-weight: normal;
  margin-right: 1em;
}

.header-menu-wrapper .header-avatar{
  cursor: pointer;
}

.avatar-wrapper{
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.avatar-wrapper .avatar-emitter{
  background-color: #dcdcf0;
  height: 16em;
}

.avatar-wrapper img{
  width: 100%;
  height: 100%;
}

.left-side-profile{
  width: 16em;
  margin-right: 1em;
}

.right-side-profile{
  flex-grow: 1;
}


.profile-page{
  display: flex;
}

.main-info-wrapper{
  padding: 1em;
}

.main-info-name{
  margin: 0;
  font-weight: normal;
  font-size: 1.4em;
}

.main-info-header{
  border-bottom: 1px solid rgb(198, 195, 209);
  padding-bottom: .5em;
}

.main-info-main{
  padding-top: 1em;
}

.info-key{
  color: gray;
  font-size: .85em;
}


.info-value{
  color: #333;
  font-size: .85em;
}


div.not-found-papper{
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-popap-menu{
  margin-top: 2.8em;
}

.edit-button-wrapper{
  margin-top: .7em;
  text-align: center;
}

.edit-button{
  width: 100%;
}

.edit-wrapper{
  padding: 2em;
}

div.grid-row{ 
  margin-top: 1em;
}


.avatar-image-wrapper{
  overflow: hidden;
  max-height: 14em;
}


.load-avatar{
  position: relative;
  transition: top .2s;
  background-color: rgba(53, 50, 50, 0.445);
  height: 3em;
  color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.avatar-image-wrapper:hover .load-avatar{
  top: -3.2em;
}

.toLoadAvatar{
  cursor: pointer;
}

.toLoadAvatar:hover{
  color: white;
}


div.avatar-load-window{
  width: 600px;
}