body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(243, 242, 242);
}

li{
  list-style: none;
}

ul{
  padding: 0;
  margin: 0;
}

html, body, #root, #root > div{
  min-height: 100%;
}

body{
  padding-bottom: 1em;
}

a{
  color: rgb(49, 49, 49);
  text-decoration: none;
}

.formWrapper .pageHeader{
  text-align: center;
}

.create-avatar .stepHeader{
  margin-bottom: 1em;
}

.formWrapper .formRow{
  display: flex;
  justify-content: space-between;
  
}
.formWrapper .formRow > .formElement{
  width: 45%;
}

.formWrapper .formInput{
  padding: .5em  1em;
  width: 100%;
  font-family: Arial;
}

.formWrapper .formLabel{
   margin-bottom: .5em;
}

.formWrapper .wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.formWrapper .registerControl {
    margin-bottom: 1em;
}

.registration-result .gotoprofile{
  margin-top: 2em;
  margin-bottom: 0;
  display: flex;
}

.header-toolbar{
  display: flex;
  justify-content: space-between;
}

.steps-wrapper .card{
  width: 600px;
  padding: 1em;
}

.registration-page, .login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page{
  height: 100%;
}

.login-page .card{
  padding: 2em 4em;
  margin-top: 2em;
}

.login-page .login-button{
  margin-top: 1em;
}

.file-input-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.file-input-wrapper label{

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.file-input-wrapper label .error{
  margin-bottom: 1em;
  color: red;
}

.file-input-wrapper > input[type="file"] {
  
  width: 90px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.file-input-wrapper > .btn-file-input {
  display: inline-block;
  

  border: 2px dashed #1f8da8;
  border-radius: 15px;
  background-color: white;

}

.file-input-wrapper > input[type="file"]:hover + .btn-file-input{
    font-size: 1.1em;
}

.editor-canvas{
  border: 2px dashed rgb(24, 146, 184);
  border-radius: 15px;
  height: 300px;
  width: 300px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar-zoom{
  margin-top: 1em;
}

.registrationFormHeader{
  margin: 0;
  margin-bottom: .6em;
  font-weight: normal;
}

.avatar-buttons{
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.avatar-controll{
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-wrapper-content{
  padding-top: 5em;
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.main-wrapper-content .main-content{
  flex-grow: 1;
}


.main-wrapper-content .main-menu{
  display: block;
}

div.main-menu-paper{
  padding-top: 5em;
  height: 18em;
  box-sizing: border-box;
  padding: 0 1em 0 1em;
  margin-right: 1em;
}


.main-header{
  z-index: 1;
  width: 100%;
  position: fixed;
}


.circle-avatar{
  border-radius: 50%;
  height: 2.7em;
  width: 2.7em;
  overflow: hidden;
}

.circle-avatar img {
  height: 100%;
  width: 100%;
}

.header-toolbar{
  margin: 0 auto;
  width: 960px;
}

.header-menu-wrapper{
  display: flex;
  align-items: center;
}

.header-menu-wrapper .header-name{
  color: white;
  font-weight: normal;
  margin-right: 1em;
}

.header-menu-wrapper .header-avatar{
  cursor: pointer;
}

.avatar-wrapper{
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.avatar-wrapper .avatar-emitter{
  background-color: #dcdcf0;
  height: 16em;
}

.avatar-wrapper img{
  width: 100%;
  height: 100%;
}

.left-side-profile{
  width: 16em;
  margin-right: 1em;
}

.right-side-profile{
  flex-grow: 1;
  max-width: 30.5em;
}


.profile-page{
  display: flex;
}

.main-info-wrapper{
  padding: 1em;
  margin-bottom: 1em;
}

.main-info-name{
  margin: 0;
  font-weight: normal;
  font-size: 1.4em;
}

.main-info-header{
  border-bottom: 1px solid rgb(198, 195, 209);
  padding-bottom: .5em;
}

.main-info-main{
  padding-top: 1em;
}

.info-key{
  color: gray;
  font-size: .85em;
}


.info-value{
  color: #333;
  font-size: .85em;
}


div.not-found-papper{
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-popap-menu{
  margin-top: 2.8em;
}

.edit-button-wrapper{
  margin-top: .7em;
  text-align: center;
}

.edit-button-wrapper  button{
  width: 100%;
}

.edit-wrapper{
  padding: 2em;
}

div.grid-row{ 
  margin-top: 1em;
}


.avatar-image-wrapper{
  overflow: hidden;
  max-height: 14em;
}


.load-avatar{
  position: relative;
  transition: top .2s;
  background-color: rgba(53, 50, 50, 0.445);
  height: 3em;
  color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.avatar-image-wrapper:hover .load-avatar{
  top: -3.2em;
}

.toLoadAvatar{
  cursor: pointer;
}

.toLoadAvatar:hover{
  color: white;
}


div.avatar-load-window{
  width: 600px;
}


div.edit-wrapper span.header{
  display: block;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.search-wrapper{
  padding: 1em 2em;
}


.user-card{
  margin: 1em 0;
  display: flex;
  border-bottom: 1px solid rgb(175, 172, 172);
  padding-bottom: 1em;
  justify-content: space-between;
}

.user-card-avatar{
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.user-card-avatar img{
  width: 100%;
  height: 100%;
}

.user-card-fields{
  margin-top: .5em;
  margin-left: 1em;
  font-size: 1.1em;
}

.user-card-name span{
  color: #3F51B5;
}

.user-card-name{
  margin-bottom: .5em;
}

.user-card-name span:hover{
  text-decoration: underline;
}

.user-card-info{
  display: flex;
}

.user-card-button{
  display: flex;
  align-items: center;
}

.user-card-field{
  font-size: .8em;
  color: #333;
}

.search-noresult{
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.messageQueue{
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 10;
}

.message{
  margin-top: 1em;
  background-color: rgba(48, 48, 48, 0.932);
  color: white;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 5px;
  height: 8em;
  width: 25em;
  box-shadow: 4px 4px 20px  black;
}

.message-body{
  margin-top: 1em;
  display: flex;
}

.message-avatar{
  flex-grow: 1;
  height: 4em;
  width: 5em;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 1em;
}

.message-avatar img{
  width: 100%;
  height: 100%;
}

.message-text{
  flex-grow: 1;
}

.message a{
    color: rgb(25, 201, 201)
}

.friends-wrapper{
  display: flex;
}

.friends-menu{
  padding: 1em;
  width: 11em;
}

.friends-content{
  flex-grow: 1;
}

.friends-list-wrapper{
  padding: 2em;
}

.friends-list-empty, .no-news{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11em;
}

.profile-friends{
  margin-top: 1em;
  padding: 1em;
}

.friends-link{
  color: #666;
}

.min-friend-wrapper{
  width: 29%;
  margin-top: 1em;
  font-size: .85em;
}

.min-friend-wrapper:not(:nth-child(3n))
{
  margin-right: 1em;  
}

.min-friends-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.min-friend-avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: .5em;
  width: 5em;
  height: 5em;
}

.min-friend-avatar img{
  width: 100%;
  height: 100%;
}

.min-friend-name{
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}


.friends-content-header{
  display: flex;
  justify-content: space-between;
}

.toUser-wrapper{
  padding: .5em 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toUser-wrapper:hover{
  background-color: #dddddd;
}

.toUser-avatar{
  border-radius: 50%;
  overflow: hidden;
  height: 2.5em;
  width: 2.5em;
}

.toUser-avatar img{
  width: 100%;
  height: 100%;
}

.toUser-name{
  margin-right: 1em;
}

.pubcreate-wrapper{
  margin-bottom: 1em;
  padding: 1em;
}

button.pubcreate-submit{
  margin-top: 1em;
}

.pubcreate-submit-wrapper{
  display: flex;
  justify-content: flex-end;
}

.publication-wrapper{
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.publication-title-wrapper{
  display: flex;
  align-items: center;
}

.publication-title-avatar{
  border-radius: 50%;
  overflow: hidden;
  height: 3.5em;
  width: 3.5em;
}

.publication-title-avatar img{
  width: 100%;
  height: 100%;
}

.publication-title-info{
  margin-left: 1em;
}

.publication-title-date{
  margin-top: .2em;
  font-size: .8em;
  color: #666;
}

.publication-title-name a{
  color: rgb(76, 85, 124);
}

.publication-title-name a:hover{
  text-decoration: underline;
}

.publication-content{
  margin-top: 1em;
}

.publication-content-text{
  font-size: .9em;
  word-wrap: break-word;
}

.publication-list ul{
  display: flex;
  flex-direction: column;
}

.unauthorized-menu button{
  color: white;
}

.settings-element{
  margin-bottom: 1em;
}

.settings-element-content{
  padding: 1em;
}

.settings-password-field{
  width: 100%;
}


.settings-password-field > div{
  width: 20em;
  margin-top: 1em;
}

button.settings-submit{
  margin-top: 3em;
}

.success{
  padding: 1em;
  background-color: rgba(49, 158, 67, 0.39);
  color: rgb(46, 99, 16);
}

.papper-header{
  background-color: rgb(222, 224, 236);
  color: rgb(105, 112, 139);
  font-size: 1.5em;
  font-weight: normal;
  padding: 0;
  margin: 0;
  padding: .4em 1em;
  font-family: Arial;
  border-bottom: 1px solid rgb(195, 197, 206);
}

.languagePicker{
  position: fixed;
  bottom: 0;
  right: 1em;
  width: 4em;
}

.languagePicker .focus{
  background-color: #3F51B5;
}

.languagePicker .focus:hover{
  background-color: rgb(103, 117, 197);
}

.languagePicker .focus *{
  color: white;
}