body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root, #root > div{
  min-height: 100%;
}

a{
  color: white;
  text-decoration: none;
}

.formWrapper .pageHeader{
  text-align: center;
}

.create-avatar .stepHeader{
  margin-bottom: 1em;
}

.formWrapper .formRow{
  display: flex;
  justify-content: space-between;
  
}
.formWrapper .formRow > .formElement{
  width: 45%;
}

.formWrapper .formInput{
  padding: .5em  1em;
  width: 100%;
  font-family: Arial;
}

.formWrapper .formLabel{
   margin-bottom: .5em;
}

.formWrapper .wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.formWrapper .registerControl {
    margin-bottom: 1em;
}

.registration-result .gotoprofile{
  margin-top: 2em;
  margin-bottom: 0;
  display: flex;
}

.header-toolbar{
  display: flex;
  justify-content: space-between;
}

.steps-wrapper .card{
  width: 600px;
  padding: 1em;
}

.registration-page, .login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page{
  height: 100%;
}

.login-page .card{
  padding: 2em 4em;
  margin-top: 2em;
}

.login-page .login-button{
  margin-top: 1em;
}

.file-input-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.file-input-wrapper label{

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.file-input-wrapper label .error{
  margin-bottom: 1em;
  color: red;
}

.file-input-wrapper > input[type="file"] {
  
  width: 90px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.file-input-wrapper > .btn-file-input {
  display: inline-block;
  

  border: 2px dashed #1f8da8;
  border-radius: 15px;
  background-color: white;

}

.file-input-wrapper > input[type="file"]:hover + .btn-file-input{
    font-size: 1.1em;
}

.editor-canvas{
  border: 2px dashed rgb(24, 146, 184);
  border-radius: 15px;
}

.avatar-zoom{
  margin-top: 1em;
}

.registrationFormHeader{
  margin: 0;
  margin-bottom: .6em;
  font-weight: normal;
}

.avatar-buttons{
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.avatar-controll{
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

